.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;   /* full viewport height */
}

header {
  background: #333;
  color: white;
  padding: 10px;
}

.job-list {
  /* flex: 1;      */
          /* take up remaining space */
  padding: 20px;
}
/* .info-ticket{
  flex: 1;
  padding: 20px;
} */

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
.logo-container{
  height: 200px;
  border-radius: 200px;
}
.status-board {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.ticket-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.ticket-info.completed {
  background-color: #e0ffe0; /* light green */
}

.ticket-info.in-progress {
  background-color: #fffbe0; /* light yellow */
}

.ticket-info.failed {
  background-color: #ffe0e0; /* light red */
}

.ticket-image {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}
.status-board{
  flex:1;
  align-items: end;
}